<div class="symptoms-container">
    <h1 class="symptoms-title">Sintomas do Dengue</h1>
    <div class="symptoms-list">
        <div class="symptom-item">
            <h2 class="symptom-title">Febre Alta</h2>
            <p class="symptom-description">A febre alta é um dos sintomas mais comuns da dengue.</p>
        </div>
        <div class="symptom-item">
            <h2 class="symptom-title">Dor de Cabeça</h2>
            <p class="symptom-description">A dor de cabeça intensa é outro sintoma característico.</p>
        </div>
        <div class="symptom-item">
            <h2 class="symptom-title">Dores Musculares</h2>
            <p class="symptom-description">As dores musculares podem ser intensas, especialmente nas articulações.</p>
        </div>
        <div class="symptom-item">
            <h2 class="symptom-title">Manchas Vermelhas na Pele</h2>
            <p class="symptom-description">Manchas vermelhas na pele podem aparecer após alguns dias do início dos sintomas.</p>
        </div>
        <div class="symptom-item">
            <h2 class="symptom-title">Fadiga</h2>
            <p class="symptom-description">A fadiga e o cansaço extremo são comuns durante a infecção por dengue.</p>
        </div>

        <div class="symptom-item">
            <h2 class="symptom-title">Nausea e vómito</h2>
            <p class="symptom-description">As dores musculares podem ser intensas, especialmente nas articulações.</p>
        </div>
    </div>
</div>
