<!-- Footer -->
<footer class="text-center">
    <!-- Grid container -->
    <div class="wrapper-footer">  
      <!-- Section: Links -->
      <section class="mt-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <!--Ayuda-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
            <h5 class="text-uppercase footer-section-title"><a href="#" class="link-secondary">Información legal</a></h5>
            <ul class="footer-list-items">
              <li><a>Colaborar con nosotros</a></li>
              <li><a>Aviso legal</a></li>
              <li><a>Código etico</a></li>
              <li><a>Quienes somos</a></li>
              <li><a>Políticas de privacidad</a></li>
              <li><a>Políticas de cookies</a></li>
              <li><a>Cambiar Regiones</a></li>
            </ul>
          </div>
          <!--Sección contacto-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
            <h5 class="text-uppercase footer-section-title"><a href="#" class="link-secondary">Soporte</a></h5>
            <ul class="footer-list-items">
              <li>
                <i class="fa-solid fa-envelope"></i>
                <a>Contactar</a>
              </li>
              <li>
                <i class="fa-solid fa-circle-info"></i>
                <a>Ayuda</a>
              </li>
              <li>
                <i class="fa-solid fa-circle-question"></i>
                <a>FAQ</a>
              </li>
            </ul>
          </div>
          <!--Sección suscribirse email-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase footer-section-title"><a href="#" class="link-secondary">Juntese a luta contra o dengue.</a></h5>
              <div class="subscribe-box">
                <input class="input-normal" type="email" id="email" placeholder="Email">
                <button class="button-blue" type="submit">Apoiar</button>
              </div>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Text -->
      <!-- Section: Text -->
      <hr class="border border-primary border-1 opacity-75 pl-0">
      <section class="footer-bottom-section">
         <div class="footer-left">
            <ul class="payment-types">
                <li><img src="assets/images/cards/pago-seguro.png" alt="Tipo de pago 1"></li>
                <li><img src="assets/images/cards/visa-mastercard.png" alt="Tipo de pago 2"></li>
                <li><img src="assets/images/cards/paypal.png" alt="Tipo de pago 3"></li>
                <!-- Agrega más tipos de pago según sea necesario -->
            </ul>
        </div>
        <div class="footer-right">
            <p>&copy;2024 Meu Denguinho. Todos os direitos reservados.</p>
        </div>
      </section>
    </div>
    <!-- Grid container -->
  </footer>
