<div class="quiz-container">
    <h1 class="quiz-title">Quiz sobre Dengue</h1>
    <form class="quiz-form">
        <div class="quiz-question">
            <p class="question-text">Qual é o principal vetor de transmissão do vírus da dengue?</p>
            <div class="answer-options">
                <label class="answer-option">
                    <input type="radio" name="question1" value="a">
                    Aedes aegypti
                </label>
                <label class="answer-option">
                    <input type="radio" name="question1" value="b">
                    Anopheles
                </label>
                <label class="answer-option">
                    <input type="radio" name="question1" value="c">
                    Culex
                </label>
            </div>
        </div>
        <div class="quiz-question">
            <p class="question-text">Qual é o sintoma característico da dengue?</p>
            <div class="answer-options">
                <label class="answer-option">
                    <input type="radio" name="question2" value="a">
                    Febre alta
                </label>
                <label class="answer-option">
                    <input type="radio" name="question2" value="b">
                    Erupção cutânea
                </label>
                <label class="answer-option">
                    <input type="radio" name="question2" value="c">
                    Tosse persistente
                </label>
            </div>
        </div>
        <div class="quiz-question">
            <p class="question-text">Qual é a melhor forma de prevenir a dengue?</p>
            <div class="answer-options">
                <label class="answer-option">
                    <input type="radio" name="question3" value="a">
                    Usar repelente regularmente
                </label>
                <label class="answer-option">
                    <input type="radio" name="question3" value="b">
                    Tomar aspirina
                </label>
                <label class="answer-option">
                    <input type="radio" name="question3" value="c">
                    Dormir ao ar livre
                </label>
            </div>
        </div>
        <button type="submit" class="quiz-submit-button">Enviar Respostas</button>
    </form>
</div>
