<div class="home">

    <!-- Aparatado imágen de fondo -->
   <div class="home-background-image-1">
        <div class="wrapper-home">
            <section class="row">
                <div class="col-md-6 col-12 mb-3">
                    <h1 class="text-light-custom">No mundo todo, o Dengue é uma ameaça séria à saúde pública.</h1>
                </div>
                <div class="col-md-6 col-12 mb-3"></div>
            </section>
            <section class="row">
                <div class="col-md-6 col-12 mb-3"></div>
                <div class="col-md-6 col-12 mb-3">
                    <ul class="list-unstyled">
                        <p class="text-light-custom mb-5">Este site é dedicado a fornecer informações abrangentes e recursos essenciais para ajudar a prevenir a propagação dessa doença transmitida por mosquitos.</p>
                        <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        <p class="text-light-custom">Se você suspeita estar com dengue, agende sua consulta agora mesmo.</p>
                        <li >
                            <a class="button-blue" aria-current="page" [routerLink]="['/newaviso']">Agendar consulta</a>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                            <h3 class="text-light-custom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

   